
.card{
    display: flex;
    flex-direction: column;    
    border-radius: 8px;
    gap: 16px;
    -webkit-box-shadow: 4px 9px 26px -7px rgba(0,0,0,0.62);
    -moz-box-shadow: 4px 9px 26px -7px rgba(0,0,0,0.62);
    box-shadow: 4px 9px 26px -7px rgba(0,0,0,0.62);
}
.Starter{
    padding: 16px;      
    background-color: var(--clr-white);   
    border: 1px solid var(--clr-border);  
    color: var(--clr-secondary);  
}
.Pro{
    padding: 40px;
    background-color: var(--clr-primary);   
    border: 2px solid var(--clr-secondary);    
    color: var(--clr-white);
}

.Teams{
    padding: 48px;
    background-color: var(--clr-white);   
    border: 1px solid var(--clr-border);   
    color: var(--clr-secondary);
    height: 516px;
}
@media (max-width:1044px){

    .card{
        width: 100%;
        align-self: center;
    }
}