<div class="container-cards">
  <div class="card free">
    <div class="img_content">
      <img src="../assets/images/image-free.png" alt="image free">
    </div>

    <div class="price_content">
      <span class="price_content_type">Starter</span>
      <span class="price_content_price">Free</span>
      <span class="price_content_time">per month</span>
    </div>

    <div class="features_content ">
      <ul class="gap-1">
        <li>
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Full courses library</span>
        </li>
        <li>
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>A new daily meditation</span>
        </li>
        <li>
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Access to the meditation guru</span>
        </li>
        <li class="disabled">
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Sleep podcasts and exercises</span>
        </li>
        <li class="disabled">
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Mindfulness exercises</span>
        </li>
        <li class="disabled">
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Guided meditations</span>
        </li>
        <li class="disabled">
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Cooking recipes</span>
        </li>
      </ul>
    </div>

    <button class="boton btn-free">Get Started</button>
  </div>

  <div class="card pro">
    <div class="img_content">
      <img src="../assets/images/image-pro.png" alt="image free">
    </div>

    <div class="price_content">
      <span class="price_content_type">Pro</span>
      <span class="price_content_price">$49</span>
      <span class="price_content_type">per month</span>
    </div>

    <div class="features_content">
      <ul class="gap-1">
        <li>
          <i class="white"><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Full courses library</span>
        </li>
        <li>
          <i class="white"><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>A new daily meditation</span>
        </li>
        <li>
          <i class="white"><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Access to the meditation guru</span>
        </li>
        <li >
          <i class="white"><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Sleep podcasts and exercises</span>
        </li>
        <li >
          <i class="white"><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Mindfulness exercises</span>
        </li>
        <li class="disabled">
          <i class="white"><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Guided meditations</span>
        </li>
        <li class="disabled">
          <i class="white"><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Cooking recipes</span>
        </li>
      </ul>
    </div>

    <button class="boton btn-pro">Get Started</button>
  </div>

  <div class="card team">
    <div class="img_content">
      <img src="../assets/images/Team-Images.png" alt="image free">
    </div>

    <div class="price_content">
      <span class="price_content_type">Teams</span>
      <span class="price_content_price">$99</span>
      <span class="price_content_type">per month</span>
    </div>

    <div class="features_content short">
      <ul class="gap-2">
        <li>
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Full courses library</span>
        </li>
        <li>
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>A new daily meditation</span>
        </li>
        <li>
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Access to the meditation guru</span>
        </li>
        <li>
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Sleep podcasts and exercises</span>
        </li>
        <li >
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Mindfulness exercises</span>
        </li>
        <li>
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Guided meditations</span>
        </li>
        <li>
          <i><svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.00001 7.78L1.22001 5L0.273346 5.94L4.00001 9.66667L12 1.66667L11.06 0.726665L4.00001 7.78Z"
                fill="black" />
            </svg>
          </i>
          <span>Cooking recipes</span>
        </li>
      </ul>
    </div>

    <button class="boton btn-team">Get Started</button>
  </div>
</div>