/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Varibles tipografía*/
    /*font families*/
    --ff-text: 'Rubik';
    /*font sizes*/
    --fs-700: 24px;    
    --fs-400: 14px;
    --fs-200: 12px;
    --fw-300:300;
    --fw-700:700;
    /* Variables colores*/
    --clr-primary: #5A45F2;
    --clr-secondary: #000000;
    --clr-white: #FFFFFF;
    --clr-border: #DAE9EF;
    --clr-ligth:#5F6974;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik',sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

*::after,
::before {
    box-sizing: border-box;
}
body{
    width: 100vh;
    height: 100vw;
}

.container-cards{
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.ff-text {
    font-family: var(--ff-text), sans-serif;
}

.fw-300{
    font-weight: var(--fw-300);
}
.fw-700{
    font-weight: var(--fw-700);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-200 {
    font-size: var(--fs-200);
}

.lh-normal {
    line-height: 16px;
}

.lh-large {
    line-height: 28.44px;
}

.text-color-dark {
    color: var(--clr-dark);
}

.text-color-medium {
    color: var(--clr-medium);
}

.text-color-light {
    color: var(--clr-light);
}

.text-color-white {
    color: var(--clr-white);
}
.text-color-red{
    color: var(--clr-red);
}
.bold {
    font-weight: 700;
}
.uppercase {
    text-transform: uppercase;
}

.bg-color-white {
    background-color: var(--clr-white);
}

.card{
    display: flex;
    flex-direction: column;
    width: 284.33px;
    border-radius: 8px;
    gap: 16px;
}
.free{
    padding: 16px;      
    background-color: var(--clr-white);   
    border: 1px solid var(--clr-border);  
    color: var(--clr-secondary);  
}
.pro{
    padding: 40px;
    background-color: var(--clr-primary);   
    border: 2px solid var(--clr-secondary);    
    color: var(--clr-white);
}

.teams{
    padding: 48px;
    background-color: var(--clr-white);   
    border: 1px solid var(--clr-border);   
    color: var(--clr-secondary);
    height: 516px;
}


.img_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.price_content{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.price_content_type{
    font-size: 12px;   
}
.price_content_price{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.44px;
}
.price_content_time{
    font-size: 12px; 
    color: var(--clr-ligth);
}

.light{
    color: var(--clr-ligth);
}

.features_content>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 208px;
}

.short{
    height: 184px;
}


.features_content>ul>li{
    display: flex;
    gap: 10px;
}

.disabled{
    opacity: 0.35;
}

.boton{
    width: 100%;
    height: 40px;    
    font-family: var(--ff-text);
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.btn-free{
    border: 1px solid var(--clr-primary);
    background-color: var(--clr-white);
    color: var(--clr-secondary);
}

.btn-pro{    
    color: var(--clr-white);
    background-color: var(--clr-secondary);
}

.btn-team{    
    color: var(--clr-white);
    background-color: var(--clr-primary);
    border: none;
}

.white>svg>path{
    fill: var(--clr-white);
}
.gap-2{
    gap: 12px;
}
.gap-1{
    gap: 16px;
}